.card {
  background-color: var(--background-secondary);
  padding: 1rem;
  min-height: 30rem;
}

.heading-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  & h3 {
    color: var(--text-emphasized);
    margin-right: auto;
    font-size: 1.5rem;
  }

  & a {
    text-decoration: none;
  }
}

.icon {
  height: 1.5rem;
  color: var(--accent);
}
